*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181625;
    color: #FEFEFF;
    font-family: 'Poppins', sans-serif;
}

.userImg{
    width: 60px;
    height: 60px;
}

h1{
    font-size: 4.8rem;
    color: #204bfc;
}

.formularioCadastroUsuario input{
    height: 40px;
    border-radius: 4px;
    border: 2px solid #39384b;
    background-color: transparent;
    outline: none;
    padding: 0.5rem;
    color: #FEFEFF;
}

.formularioCadastroUsuario input:focus{
    border: 2px solid #324cab;
}

.formularioCadastroUsuario button{
    background-color: transparent;
    border: none;
}

.formularioCadastroUsuario button img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.headerCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}